# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
/config/gemini.local.php
/config/database.local.php

# local deployment artifacts and original source media
**/.DS_Store
/*.zip
/SRI LANKA*.mp4

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
